<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Type Size Calculator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Type Size Calculator</h1>
    <form method="post" class="converter">
        {% csrf_token %}
        <select name="conversion_type" id="conversionType">
            <option value="mm_to_points">Millimeters to Points</option>
            <option value="points_to_mm">Points to Millimeters</option>
        </select>
        <input type="number" name="value" step="any" placeholder="Enter value" required>
        <button type="submit">Convert</button>
    </form>

    {% if result %}
        <div id="result">{{ result }}</div>
    {% endif %}

    <div class="api-link">
        <a href="/api/docs/">View API Documentation</a>
    </div>
<!--    <script src="{% static 'script.js' %}"></script>-->
</body>
</html>